// font fontawesome
@font-face {
	font-family:fontawesome;
    src:url('../fonts/fontawesome-webfont.ttf');
}
// DancingScript font
@font-face {
	font-family:dancing_regular;
    src:url('../fonts/DancingScript-Regular.ttf');
}
@font-face {
	font-family:dancing_bold;
    src:url('../fonts/DancingScript-Bold.ttf');
} 

// oswald font
@font-face {
	font-family:oswald_bold;
    src:url('../fonts/Oswald-Bold.ttf');
}
@font-face {
	font-family:oswald_regular;
    src:url('../fonts/Oswald-Regular.ttf');
}
@font-face {
	font-family:oswald_light;
    src:url('../fonts/Oswald-Light.ttf');
}

// RobotoSlab font
@font-face {
	font-family:roboto_bold;
    src:url('../fonts/RobotoSlab-Bold.ttf');
}
@font-face {
	font-family:roboto_regular;
    src:url('../fonts/RobotoSlab-Regular.ttf');
}