//font style
$font-roboto-regular:roboto_regular;
$font-oswald-regular:oswald_regular;
$font-oswald-light:oswald_light;
$font-dancing-regular:dancing_regular;
$font-dancing-bold:dancing_bold;
$font-oswald-bold:oswald_bold;
$font-roboto-bold:roboto_bold;

//color
$text-color-main:#feb518;
$text-color-descript:#888;
$text-color-heading:#333;
$text-color-white:#e8e8e8;

//background
$bg-color-topheader:#222;

//font-size
$font-size-extra-small: 12px;
$font-size-small: 13px;
$font-size-main: 14px;
$font-size-regular:16px;
$font-size-x-regular: 20px;
$font-size-large: 24px;
$font-size-x-large :30px;
$font-size-xx-large :36px;
$font-size-xxx-large :40px;
$font-size-xxxx-large :48px;

//lineheight
$line-height-extra-small:14px;
$line-height-small:20px;
$line-height-main:24px;
$line-height-large:32px;
$line-height-x-large:40px;
$line-height-xx-large:50px;


