@media (max-width: 1199px){
	// ---------------------------------------
	//                Homepage
	// ---------------------------------------
	nav{
		ul{
			li{
				margin-left: 18px;
			}
		}
	}

	.banner{
		.owl-items{
			.banner-caption{
				&-text{
					font-size: 16px;
				}
			}
		}
	}
	// ---------------------------------------
	//                AboutPage
	// ---------------------------------------
	
	section.about-us{
		.menu-intro{
			padding:120px 0;
		}
		.about-intro{
			&-text{
				margin-bottom: 8px;
			}
			.button-reservation{
				margin:0;
			}
		}
	}
	section.service{
		.menu-intro{
			padding:120px 0;
			&-title{
				font-size: $font-size-xx-large;
			}
			&-text{
				font-size: $font-size-x-large;
			}
		}
	}
	.contact-banner{
		padding:50px 0;
	}
	// ---------------------------------------
	//               Reservation
	// ---------------------------------------	

	#reservationpage{
		.about-us{
			.image-holder{
				margin-top: 30px;
			}
		}
	}

}

